body {
    color: yellow;
    background-image: url(../pictures/Moon.jpg);
    background-size:cover;
}
h1 {
    color:deepskyblue
}
#form1{
    border: solid 2px blue;
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 50, 150, 0.6);
}
.i1{
    display: block;
    margin-bottom: 5px;
}
.gomb:hover{
box-shadow: 2px 2px 5px white;
}
#elküldgomb{
    padding-top: 5px;
}

